{template "content","header"}

<body>

	<!--header-wrapper-->

	{template "content","part_nav"}
	<!--/header-wrapper-->


	{template "content","page_banner"}
	
	{template "content","page_nav"}

	
	<!-- Page Content -->
	<main class="page-content">

		
		
		<div class="page-development productbg1">
            
            <div class="page_wrap ">
				<div class="page-development-first">
					<div class="page-development-box">
						{pc:content action="lists" catid="53"   moreinfo="1"   siteid="$siteid" order="listorder is null,listorder desc,inputtime desc,id desc"  num="1"  }
                		{loop $data $r}
						<div class="img">
							<img src="{$r[thumb]}" alt="">
						</div>
						<div class="info">
							<h3>{$r[title]}</h3>
							<p>&nbsp;</p>
							{$r[content]}
						</div>
						{/loop}
                		{/pc}
					</div>
					
					<div class="page-development-title">
						Vacant Job
					</div>
					
					<div class="page-position-list clearfix">
						{pc:content action="lists" catid="54"   moreinfo="1"   siteid="$siteid" order="listorder is null,listorder desc,inputtime desc,id desc"  num="100"  }
						{php $i=1}
                		{loop $data $r}
						<div class="position-item {if $i==1}active{/if}">
							<div class="item-header">
								<div class="title">{$r[title]}</div>
								<div class="data">{date('Y-m-d',$r[inputtime])}</div>
							</div>
							<div class="item-info">
								<div class="item">
									<div class="title">Positions Information：</div>
									<div class="info">
										{$r[content]}
									</div>
								</div>
								<div class="item">
									<div class="title">Position Statement：</div>
									<div class="info">
										{$r[content2]}
									</div>
								</div>
							</div>
						</div>
						{php $i++}
						{/loop}
                		{/pc}
					
					</div>
					

					<div class="page-development-title">
						Explore your opportunities
					</div>
					<div class="page-development-position clearfix">
						{pc:content action="lists" catid="55"   moreinfo="1"   siteid="$siteid" order="listorder is null,listorder desc,inputtime desc,id desc"  num="5" page="$page"  }
                		{loop $data $r}
						<div class="item">
							<a href="{$r[url]}">
								<div class="item-title">
									{$r[title]}
								</div>
								<div class="item-info">
									<span>Recruiting Numbers：{$r[ren]} persons</span>
									<span>Pubdate：{date('Y-m-d',$r[inputtime])}</span>
								</div>
								<div class="item-more">MORE</div>
							</a>
						</div>
						{/loop}
                		{/pc}
						

					</div>
					
					{$pages2}
					
					
				</div>
            </div>
			
		</div>
		
		
	</main>
	<!-- //Page Content -->

	

	<!-- 底部 -->
	
	{template "content","footer"}
	
	<!-- 底部 end-->


	{template "content","script"}

</body>

</html>