{template "content","header"}

<body>

	<!--header-wrapper-->

	{template "content","part_nav"}
	<!--/header-wrapper-->


	
	<div class="page_ban" >
		<div class="img-box" style="background-image: url({$CATEGORYS[$top_parentid][image]});">
			<img src="{$CATEGORYS[$top_parentid][image]}" alt="">
		</div>
		<div class="img-info">
			<div class="page_wrap">

				<div class="info_title">
					<span>{$CATEGORYS[$top_parentid][catname_en]}</span>
					<h3>{$CATEGORYS[$top_parentid][catname]}</h3>
				</div>
				<div class="mbx">
					<a href="/">Home</a><i class="fa iconfont icon-angleright"></i><a href="{$CATEGORYS[$top_parentid][url]}">{$CATEGORYS[$top_parentid][catname]}</a>
					
				</div>
			</div>
			
		</div>
	</div>
	
	<!-- Page Content -->
	<main class="page-content">

		<div class="product-list">
			<div class="page_wrap clearfix">
				{pc:content action="category" where="ismenu=1" catid="3"   siteid="$siteid" order="listorder,catid" }
                {loop $data $r}
                <?php 
               
                if ($r[child] == 1 ) { 
                    $child_arrary=explode(',',$r[arrchildid]);
                    
                    $r[url]=$CATEGORYS[$child_arrary[1]][url];
                   
                } 
                
            ?>
				<div class="item">
					<!-- <a href="{$r[url]}"> -->
						<div class="item-img">
							<img src="{$r[image]}" alt="">
						</div>
						<div class="item-box">
							<div class="title">
								{$r[catname]}
							</div>
							<div class="info">
								<ul>
									{pc:content action="category" where="ismenu=1" catid="$r[catid]"   siteid="$siteid" order="listorder,catid" return="data2" }
                					{loop $data2 $r2}
									<li><a href="{$r2[url]}">{$r2[catname]}</a></li>
									{/loop}
                					{/pc}
								</ul>
							</div>
						</div>
					<!-- </a> -->
				</div>
				{/loop}
                 {/pc}

				
			</div>
		</div>

	</main>
	<!-- //Page Content -->

	

	<!-- 底部 -->
	
	{template "content","footer"}
	
	<!-- 底部 end-->


	{template "content","script"}

</body>

</html>