<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta name="keywords" content="{$SEO['keyword']}" />
    <meta name="description" content="{$SEO['description']}" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
	<link rel="stylesheet" type="text/css" href="/statics/web/fonts/iconfont/iconfont.css">
	<link rel="stylesheet" type="text/css" href="/statics/web/css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="/statics/web/encss/index.css?v=1.1">
	<link rel="stylesheet" type="text/css" href="/statics/web/css/newstyle.css">

	<script type="text/javascript" src="/statics/web/js/jquery.min.js"></script>
	<script type="text/javascript" src="/statics/web/js/reveal.js"></script>

</head>