{template "content","header"}

<body>

	<!--header-wrapper-->

	{template "content","part_nav"}
	<!--/header-wrapper-->


	
	{template "content","page_banner"}
	
	{template "content","page_nav"}
	          
	
	
	<!-- Page Content -->
	<main class="page-content">

		<div class="about-adv productbg1">
            
            <div class="page_wrap ">
				<div class="adv-list">
					{pc:content action="lists" catid="$catid"   moreinfo="1"   siteid="$siteid" order="listorder is null,listorder desc,inputtime desc,id desc"  num="100"  }
                	{loop $data $r}
					<div class="item">
						<div class="item-title">
							<div class="img-box">
								<img src="{$r[thumb]}" alt="">
							</div>
							<div class="title-info">
								<span style="background-image: url({$r[ico]});">{$r[title]}</span>
							</div>
						</div>
						<div class="item-info">
							{format_textarea($r[description])} 
						</div>
					</div>
					 {/loop}
                	{/pc}
					
				
					
					
					
					

				</div>

            </div>
			
		</div>
		
        
	</main>
	<!-- //Page Content -->

	

	<!-- 底部 -->
	
	{template "content","footer"}
	
	<!-- 底部 end-->


	{template "content","script"}

</body>

</html>