@font-face {
    font-family: 'KozGoPr6N-Regular';
    src: url('../fonts/KozGoPr6N/KozGoPr6N-Regular.eot');
    src: url('../fonts/KozGoPr6N/KozGoPr6N-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/KozGoPr6N/KozGoPr6N-Regular.woff2') format('woff2'),
        url('../fonts/KozGoPr6N/KozGoPr6N-Regular.woff') format('woff'),
        url('../fonts/KozGoPr6N/KozGoPr6N-Regular.ttf') format('truetype'),
        url('../fonts/KozGoPr6N/KozGoPr6N-Regular.svg#KozGoPr6N-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KozGoPr6N-Medium';
    src: url('../fonts/KozGoPr6N/KozGoPr6N-Medium.eot');
    src: url('../fonts/KozGoPr6N/KozGoPr6N-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/KozGoPr6N/KozGoPr6N-Medium.woff2') format('woff2'),
        url('../fonts/KozGoPr6N/KozGoPr6N-Medium.woff') format('woff'),
        url('../fonts/KozGoPr6N/KozGoPr6N-Medium.ttf') format('truetype'),
        url('../fonts/KozGoPr6N/KozGoPr6N-Medium.svg#KozGoPr6N-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'KozGoPr6N-Bold';
    src: url('../fonts/KozGoPr6N/KozGoPr6N-Bold.eot');
    src: url('../fonts/KozGoPr6N/KozGoPr6N-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/KozGoPr6N/KozGoPr6N-Bold.woff2') format('woff2'),
        url('../fonts/KozGoPr6N/KozGoPr6N-Bold.woff') format('woff'),
        url('../fonts/KozGoPr6N/KozGoPr6N-Bold.ttf') format('truetype'),
        url('../fonts/KozGoPr6N/KozGoPr6N-Bold.svg#KozGoPr6N-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

